.container-atv {
  background-color: #f0f0f0; 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container-atv img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container-atv h1 {
  font-size: 1.8rem;
  color: #333; 
  margin-bottom: 10px;
}

.container-atv p {
  color: #555;
  line-height: 2.5;
}

.btn-curriculo {
  background-color: #666666;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-curriculo:hover {
  background-color: #666666; 
}
